html {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
}

footer {
  background-color: #a51c30;
  display: grid;
  height: 120px;
  width: 100%;
}

header {
  background-color: #a51c30;
  box-shadow: 5px 5px 35px -5px black;
  display: grid;
  grid-template-columns: 490px auto;
  height: 60px;
  padding: 0 60px;
  position: relative;
  width: 100%;
  z-index: 10;
}

header ul {
  align-self: center;
  justify-self: end;
  list-style: none;
  margin: 0;
}

header a {
  text-decoration: none;
}

header li {
  color: white;
  display: inline;
  font-size: 14px;
  margin-left: 30px;
  font-family: "Whitney SSm A","Whitney SSm B", sans-serif;
}

header .image {
  background-image: url(../images/hlsm-logo.png);
  height: 70px;
  position: absolute;
  top: 10px;
  width: 80px;
  height: 80px;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 10px;
}

header .logo {
  display: grid;
  position: relative;
}

header .logo-title {
  align-self: center;
  color: white;
  font-family: "Hoefler Text A","Hoefler Text B",serif;
  font-size: 18px;
  margin: 0;
  margin-left: 90px;
}

aside {
  width: 350px;
  display: block;
  position: fixed;
  z-index: 100;
  height: 100vh;
  top: 0;
  right: -360px;
  background-color: #a51c30;
  box-shadow: -5px 5px 15px -3px black;
  transition: all 0.5s;
}

aside.shown {
  right: 0;;
}

aside ul {
  list-style: none;
  margin-top: 60px;
}

aside li {
  color: white;
  padding-left: 50px;
  margin-bottom: 40px;
}

aside img {
  position: absolute !important;
  width: 30px !important;
  height: 30px !important;
  right: 30px !important;
  top: 20px;
}

a {
  color: #a51c30;
  text-decoration: underline;
}

a:hover {
  color: #a51c30;
}

h1, h2, h3, h4, h5 {
  margin-bottom: 0;
  font-family: "Hoefler Text A","Hoefler Text B",serif;
  font-weight: bold;
}

h1 {
  font-size: 4em;
}

p {
  font-family: Georgia, serif;
}

#menu-icon {
  display: none;
}

.cover {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0,0,0,0.6)), url(../images/harvard.jpg);
  background-size: cover;
  height: 80vh;
  position: relative;
  width: 100%;
}

.cover h1 {
  color: white;
  position: absolute;
  bottom: 80px;
  width: 50%;
  left: 60px;
}

.horizontal-container {
  padding: 60px 0;
}

.horizontal-container h1 {
  margin-bottom: 60px;
}

/* Grids*/

.main-grid {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 30px;
  grid-column-gap: 30px;
}

.main-grid .main-item {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0,0,0,0.6)), url(../images/harvard.jpg);
  grid-row-start: 1;
  grid-row-end: 3;
  position: relative;
}

.main-item h1 {
  position: absolute;
  bottom: 60px;
  color: white;
  left: 30px;
}

.main-item p {
  position: absolute;
  bottom: 60px;
  color: white;
  left: 30px;
}

.main-item a {
  position: absolute;
  color: white;
  left: 30px;
  bottom: 50px;
  text-decoration: underline;
}

.main-grid .item {
  background-color: #efeeeb;
  height: 300px;
  padding: 40px;
}

.main-grid .item h3 {
  margin-bottom: 30px;
}

.main-item img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.subsite-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
}

.subsite-grid .item {
  height: 450px;
  padding: 40px;
  border-left: 1px solid lightgray;
}

.subsite-grid .item h4 {
  margin-bottom: 40px;
}

.subsite-grid .item p {
  max-height: 215px;
  overflow: hidden;
}

.magazine-grid {
  display: grid;
  grid-template-columns: 300px auto;
  grid-column-gap: 50px;
  margin-bottom: 50px;
}

.magazine-grid .magazine-item {
  display: grid;
  height: 400px;
  width: 300px;
  background-color: #efeeeb;
  margin-bottom: 50px;
  box-shadow: 5px 5px 10px -4px grey;
}

.magazine-grid .magazine-item h4 {
  grid-row-start: 1;
  grid-column-start: 1;
  align-self: center;
  justify-self: center;
}

.magazine-grid .magazine-item::after {
  grid-row-start: 1;
  grid-column-start: 1;
  content: '';
  width: 80%;
  height: 85%;
  display: block;
  align-self: center;
  border: 1px solid gray;
  justify-self: center;
}

.magazine-grid .articles-list {
  list-style: none;
}

.articles-list a {
  text-decoration: none;
}

.articles-list h4 {
  color: black;
}

.articles-list h5 {
  color: gray;
}

.articles-list li {
  margin-bottom: 40px;
  padding-left: 30px;
  border-left: 2px solid gray;
}

/* Sections */

.section-title {
  margin-bottom: 100px !important;
  position: relative;
}

.section-title::after {
  display: block;
  content: '';
  width: 100px;
  height: 10px;
  background-color: rgba(90,90,90,0.15);
  position: absolute;
  bottom: -15px;
  left: -20px;
}

/* Footer */

.footer-container {
  color: white;
  display: grid;
  grid-template-columns: 20% 60% 20%;
}

.footer-container .item {
  align-self: center;
  justify-self: center;
}

.footer-container .socials {
  margin: 0;
  display: grid;
}

#linked-in {
  background-image: url(../images/linked-in-logo.png);
  width: 30px;
  height: 30px;
  background-size: cover;
}


/* Story View */

.story .cover {
  height: 60vh;
}

/* Members */

.members img {
  object-fit: cover;
  width: 200px;
  height: 200px;
  position: absolute;
  z-index: 2;
}

.members img::after {
  content: '';
}

.profile-container {
  position: relative;
  display: grid;
  grid-template-columns: 32% 68%;
  margin-bottom: 80px;
  width: 80%;
  height: 300px;
  border-bottom: 1px solid lightgray;
  padding-bottom: 30px;
}

.profile-container:last-child {
  margin-bottom: 0;
  border: none;
}

.profile-container * {
  margin-bottom: 20px;
}

.profile-container .img-back-frame {
  display: block;
  width: 200px;
  height: 200px;
  position: absolute;
  border: 3px solid lightgray;
  left: 20px;
  top: 20px;
  z-index: 1;
}

.profile-container .profile-info {
  grid-column-start: 2;
}

.profile-container .profile-info h4 {
  color: #bbbbbb;
}

.social-media-icons {
  list-style: none;
}

.social-media-icons li img {
  width: 20px;
  height: 20px;
  display: inline-block;
  position: relative;
}

.social-media-icons li {
  display: inline;
  margin-right: 20px;
}

.profile-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.profile-cell {
  width: 300px;
  height: 450px;
  margin-bottom: 50px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}

.profile-cell img {
  position: relative;
  width: 300px;
  height: 250px;
}

.profile-cell * {
  margin-bottom: 20px;
} 

.profile-cell h4::after {
  content: '';
  width: 70%;
  height: 2px;
  background-color: #a51c30;
  display: block;
  margin-top: 10px;
}

/*  Event  */

.event {
  display: grid;
  grid-template-columns: 55% 45%;
  grid-column-gap: 40px;
}

.event-image img {
  object-fit: cover;
  width: 100%;
}

.event-info h1 {
  margin-bottom: 0;
}

.event-info h5 {
  margin-bottom: 60px;
  color: gray;
  font-weight: 100;
}


/* MOBILE VIEW  */

@media (min-width: 320px) and (max-width:991px) {
/* @media only screen
and (min-device-width: 320px) 
and (max-device-width: 991px) { */
  footer {
    height: auto;
  }

  .footer-container {
    grid-template-columns: 100%;
    padding: 20px 0;
  }

  .cover {
    height: 60vh;
  }
  
  .cover h1 {
    width: 70%;
  }
  .main-grid {
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }

  .subsite-grid {
    grid-template-columns: 100%;
    grid-template-rows: 300px;
  }

  .subsite-grid .item {
    height: 300px;
  }

  .profile-container {
    width: 90%;
    grid-template-columns: 100%;
    grid-template-rows: 240px auto;
    height: auto;
  }

  .profile-container  .profile-info {
    grid-row-start: 2;
    grid-column-start: 1;
  }

  .magazine-grid {
    grid-template-columns: 100%;
  }

  .event {
    grid-template-columns: 100%;
  }

  .event-image img {
    margin-top: 30px;
  }
}

/*  MOBILE HEADER VIEW  */

@media (max-width:1014px) {
  header ul {
    display: none;
  }

  header {
    padding: 0 40px 0 60px;
  }

  #menu-icon {
    display: block;
    object-fit: cover;
    width: 30px;
    height: 30px;
    align-self: center;
    justify-self: end;
    position: relative;
  }
}