* {
  margin: 0;
  padding: 0;
}

footer {
  background-color: #a51c30;
  display: grid;
  height: 120px;
  width: 100%;
}

header {
  background-color: #a51c30;
  display: grid;
  grid-template-columns: 510px auto;
  height: 60px;
  padding: 0 100px;
  position: relative;
  width: 100%;
}

header ul {
  align-self: center;
  justify-self: end;
  list-style: none;
  margin: 0;
}

header a {
  text-decoration: none;
}

header li {
  color: white;
  display: inline;
  margin-left: 30px;
}

header .image {
  background-color: gray;
  height: 70px;
  position: absolute;
  top: 10px;
  width: 70px;
}

header .logo {
  display: grid;
  position: relative;
}

header .logo-title {
  align-self: center;
  color: white;
  margin: 0;
  margin-left: 100px;
}

h1 {
  margin-bottom: 60px;
}

.cover {
  background-color: lightgray;
  height: 80vh;
  width: 100%;
}

.horizontal-container {
  padding: 80px 0;
}

/* Grids*/

.main-grid {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 30px;
  grid-column-gap: 30px;
}

.main-grid .main-item {
  background-color: bisque;
  grid-row-start: 1;
  grid-row-end: 3;
}

.main-grid .item {
  background-color: aliceblue;
  height: 300px;
}

.subsite-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
}

.subsite-grid .item {
  background-color: aliceblue;
  height: 450px;
}

/* Footer */

.footer-container {
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer-container .item {
  align-self: center;
  justify-self: center;
}